body {
    margin: 0 50px;
}

header {
    text-align: center;
    font-family: "roboto condensed";
}

h2 {font-family: "roboto condensed";
    text-align: center;
}

h3 {
    font-family: "roboto condensed";
}

.container {
    width: auto;
    padding: 5px 5px;
    border: 2px solid gray;
    margin-bottom: 10px;
    height:300px;
    margin: 20px auto;
}

.color-card {
    float: left;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.color-card p {
    padding-top: 12px;
    font-family: "roboto condensed";
    font-size: 24px;
}

#red {
    background-color: #B22222 ;
}

#blue {
    background-color: #4169E1 ;
}

#yellow {
    background-color: #FFFF00 ;
}

#green {
    background-color: #33FF00;
}

#pink {
    background-color:  #EE6EA9;
}

#purple {
    background-color: #9561E2;
}

.font-card {
    float: left;
    margin: 0 30px;
    padding:0 20px;
    font-size: 17px;
}

#crimson-text {
    font-family: "crimson text";
}

#crimson-head {
    font-family: "crimson text";
}

#crimson-italic {
    font-style: italic;
}

#crimson-bold {
    font-weight: bold;
}

#roboto-text {
    font-family: "roboto condensed";
}

#roboto-italic {
    font-style: italic;
}

#roboto-bold {
    font-weight: bold;
}

#mono-text {
    font-family: 'DM Mono', monospace;
}

#mono-head {
    font-family: 'DM Mono', monospace;
}

#mono-italic {
    font-style: italic;
}

#mono-bold {
    font-weight: bold;
}

.text-card {
    float: left;
    margin: 0 30px;
    padding:0 60px;
    font-size: 24px;

}

.text-card h1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.text-card h4 {
    font-weight:500;
    font-family: cursive;
}

.text-card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
